HOST=0.0.0.0
PORT=3333
DATABASE_URL=mysql://destiny_bistro:destiny_bistro@localhost:3308/destiny_bistro
DATABASE_HOST=localhost
DATABASE_PORT=3308
DATABASE_USER=destiny_bistro
DATABASE_PASSWORD=destiny_bistro
DATABASE_NAME=destiny_bistro
MYSQL_ROOT_PASSWORD=destiny_bistro_root
MYSQL_DATABASE=destiny_bistro
MYSQL_USER=destiny_bistro
MYSQL_PASSWORD=destiny_bistro
MYSQL_PORT=3308
